@model FinalProject.Models.Product
@{
    ViewBag.Title = "Create";
}

<br />
<br />
<br />
<br />
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data", @class = "text-center" }))
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>Add Product</h2>

                <form class="bg-white p-5 contact-form">
                    <div class="form-group">
                        <label for="Name">Name:</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "Name" })
                    </div>

                    <div class="form-group">
                        <label for="CategoryId">Category:</label>
                        @Html.DropDownListFor(m => m.CategoryId, ViewBag.CatList as SelectList, "-- Select Category ---", new { @class = "form-control", id = "CategoryId" })
                    </div>

                    <div class="form-group">
                        <label for="Description">Description:</label>
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", id = "Description" })
                    </div>

                    <div class="form-group">
                        <label for="Unit">Unit Price:</label>
                        @Html.TextBoxFor(m => m.Unit, new { @class = "form-control", id = "Unit" })
                    </div>

                    <div class="form-group">
                        <label for="Discount">Discount:</label>
                        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", id = "Discount" })
                    </div>

                    <div class="form-group">
                        <label for="Image">Select Image:</label>
                        <input type="file" name="Image" class="form-control-file" id="Image">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add Product" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

                <h3 style="color:red;">@TempData["msg"]</h3>
            </div>
        </div>
    </div>
}


<style>
    .top-header-area {
        background-color: #ffa500; /* Orange background color */
        padding: 15px 0; /* Adjust padding as needed */
    }
</style>
