@model IEnumerable<FinalProject.Models.ViewModel.OrderUserVM>
<br />
<br />
<br />
<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Bill)</th>
                <th>@Html.DisplayNameFor(model => model.DeliveryCharge)</th>
                <th>@Html.DisplayNameFor(model => model.TotalBill)</th>
                <th>@Html.DisplayNameFor(model => model.Payment)</th>
                <th>@Html.DisplayNameFor(model => model.InvoiceDate)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Bill)</td>
                    <td>@Html.DisplayFor(modelItem => item.DeliveryCharge)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalBill)</td>
                    <td>@Html.DisplayFor(modelItem => item.Payment)</td>
                    <td>@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="btn btn-success">Approve</span>
                        }
                        else
                        {
                            <span class="btn btn-success">Pending</span>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Invoice", "Home", new { id = item.InvoiceId })" class="btn btn-primary"
                           onclick="openPrintWindow('@Url.Action("Invoice", "Home", new { id = item.InvoiceId })'); return false;">
                            Print
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        function openPrintWindow(url) {
            var printWindow = window.open(url, '_blank');
            printWindow.onload = function () {
                setTimeout(function () {
                    printWindow.print();
                }, 1000); // Delay printing for 1 second
            };
        }
    </script>
}



<style>
    .top-header-area {
        background-color: #ffa500; /* Orange background color */
        padding: 15px 0; /* Adjust padding as needed */
    }
</style>